[submodule "themes/notepadium"]
	path = themes/notepadium
	url = https://github.com/cntrump/hugo-notepadium
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
